* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
	font-family: 'Roboto', sans-serif;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: .05rem;
}

p span {
	color: black;
	font-size: 2.5rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 500;
	letter-spacing: .05rem;
}

li {
	color:white;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: .05rem;
}

.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
}

.section-title span {
	color: #C70039;
}
.name h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}

.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid #C70039;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	margin-top: 30px;
	transition: .3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: white;
	background-color: #C70039;
}

/* Header Begins */
#header {
	position: fixed;
	height: auto;
    z-index: 1000;
    left:0;
    top:0;
    width:100vw;
    
}

#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
}

#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}

#header .nav-list ul {
	list-style: none;
	
}

#header .nav-list li {
	display: inline-block;
}

#header .nav-list ul a {
	font-size: 2rem;
	font-weight: 500;
	letter-spacing: .2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}

#header .nav-list ul li:hover a {
	color: #C70039;
}
/* Header Ends */

/* Intro Begins */
#intro {
	background-image: url(./images/background.jpg);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}

#intro::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: .7;
	z-index: -1;
}

#intro .intro {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}

#intro h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal .5s ease forwards;
	animation-delay: 1s;
}

#intro h1:nth-child(1) {
	animation-delay: 1s;
}

#intro h1:nth-child(2) {
	animation-delay: 2s;
}

#intro h1:nth-child(3) {
	animation: text_reveal_name .5s ease forwards;
	animation-delay: 3s;
}

#intro h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: #C70039;
	animation: text_reveal_box 1s ease;
	animation-delay: .5s;
}

#intro h1:nth-child(1) span {
	animation-delay: .5s;
}

#intro h1:nth-child(2) span {
	animation-delay: 1.5s;
}

#intro h1:nth-child(3) span {
	animation-delay: 2.5s;
}
/* Intro Ends */

/* About Begins*/
#about .col-right .cta {
	color: black;
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 2rem;
}
/* About Ends*/

/* Projects Begins */
#projects .projects {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}

#projects .projects-top {
	max-width: 500px;
	margin: 0 auto;
}

#projects .projects-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
    flex-direction: row;
	margin-top: 50px;
}

#projects .projects-item {
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	background-image: url(./images/image1.jpg);
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}

#projects .projects-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: .9;
	z-index: -1;
}

#projects .projects-bottom .icon {
	height: 80px;
	width: 80px;
	margin-bottom: 20px;
}

#projects .projects-item h2 {
	font-size: 2rem;
	color: white;
	margin-bottom: 10px;
	text-transform: uppercase;
}

#projects .projects-item p {
	color: white;
	text-align: left;
}
/* Projects Ends */

/* Experience Begins */
#experiences .experiences {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
    border-radius: 10px
}
#experiences .experiences-header h1 {
	margin-bottom: 50px;
}
#experiences .all-experiences {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#experiences .experience-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
#experiences .experience-info {
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	color: white;
}
#experiences .experience-info h1 {
	font-size: 4rem;
	font-weight: 500;
}
#experiences .experience-info h2 {
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 10px;
}
#experiences .experience-info p {
	color: white;
}
#experiences .experience-img {
	flex-basis: 30%;
    position: relative;
}
#experiences .experience-img:after {
	
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	
}
#experiences .experience-img img {
	transition: .3s ease transform;
}
#experiences .experience-item:hover .experience-img img {
	transform: scale(1.1);
}
/* Experience Ends */

/* Achievements Begins */
#achievements .achievements-header h1 {
	margin-bottom: 50px;
}

#achievements .achievements-container {

    width: 1000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 150px;
    
}

#achievements .achievements-card {
    position: relative;
    left: -6%;
    width: 300px;
    height: 370px;
    transition: 0.3s ease-out;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.7);
}

#achievements .achievements-card .imgbox {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#achievements .achievements-card .content {

    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    padding: 12px;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    transition: all 0.5s cubic-bezier(0.48, -0.28, 0.41. 1.4);
    box-sizing: border-box;
    overflow: hidden;
}

#achievements .achievements-card:hover .content {

width: 100%;
height: 75%;
left:0;
bottom: 0;
}

#achievements .achievements-card .imgbox img{

    position: absolute;
    top: 0;
    left: 0;
    height: 80%;
    width: 100%;
    display: block;
    transition: 0.5s;

}

#achievements .content p {

    margin:10px 0 0;
    padding: 1em 1em;
    transform: translateY(2em);
    line-height: 1.3em;
    transition: 0.3s;
    text-align: justify;
    opacity: 0;
}

#achievements .achievements-card:hover .content p{

    transform: translateY(0);
    opacity: 1;
}

#achievements .content h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500px;
    color: white;
}

#achievements .achievements-card:hover{

    box-shadow: 0 0 5em rgba(0,0,0,0.4);
}

#achievements .content p {
    text-align: center;
    font-size: 2rem;
    font-weight: 500px;
    color: white;
}
/*Achievements Ends*/

/*Map Begins*/

#map {
  border: thin solid black;
  height: 500px;
  width: 500px;
  margin-left: 500px;
}
/*Map Ends*/
/* Footer Begins */
#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
    margin-top: 50px;
	min-height: 200px;
	flex-direction: column;
	padding-top: 30px;
	padding-bottom: 10px;
}

#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: .3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
/* Footer Ends */

/* Keyframes */
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: #C70039;
		font-weight: 500;
	}
}
/* Keyframes */